.modal {
    position: fixed;
    top:0; left:0; right:0; bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.5);
}
.modal-content {
    background: $card-bg;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
}